
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
}

.shadow{
    box-shadow:  0 10px 20px  rgba(74, 77, 78, 0.8);
}
.shadow-all{
    box-shadow:  10px 10px  20px   rgba(74, 77, 78, 0.8);
}
.bg-dark{
    background-color: #131412;
    color:white;
}
/* banner */
.banner{
    
    padding: 10px;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner > .top{
    flex:1;
}
.banner > #navigation{
    flex: 1.5;
}
#navigation{
    display: flex;    
}
#navigation > a{
    flex:1;
}

a{
    color: #fff;
    text-decoration: none;
}
/* hero */
button{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 7px;
    margin-top: 15px;
}
.hero{
    font-size: 36px;
    display: flex;
    height: 93vh;
    width: 100%;
    padding: 10vh;
    justify-content: space-around;
    align-items: center;
}
.hero >div{
    flex:1;
   
}
#hero-left >button{
    width: fit-content;
}
#hero-right{
    flex:0.15;
}
#hero-right > img{
    height: 60vh;
    width: auto;
}
.hero> #hero-left{
    display: flex;
    flex-direction: column;
   flex:0.75;
    
}
#hero-left >h1{
    font-size: 48px;
}
#usage{
    font-size: 36px;
    display: flex;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
    flex:1;
    align-items: center;
    flex-direction: column;
}
#usage>h2{
    padding-bottom: 10vh;
    flex:0.1;
}
#usage>.usage-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex:auto;
    width: 70%;
  
}
.card{
    height: 40vh;
    margin: 0 10px;
    border-radius: 7px;
}
.card >img{
    margin: auto;
    height: 50%;
    width: 90%;
    border: 3px solid #131412;
    border-radius: 7px;
    object-fit:cover;
}
.card >p{
    margin-top: 10px;
}
#quote{
    font-size: 36px;
    color: #fff;
    font-weight: lighter;
    display: flex;
    height: 30vh;
    width: 100%;
    padding-top: 10vh;
    flex:1;
    align-items: center;
    flex-direction: column;
}
.bg-transp{
    background-color: hsla(60, 6%, 13%, 0.7);
}
#cta{
    font-size: 36px;
    display: flex;
    height: 60vh;
    width: 100%;
    padding-top: 10vh;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg-yellow{
    background-color: #ecc900;
}

footer{
    font-size: 25px;
    display: flex;
    height: 8vh;
    width: 100%;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer a{
    text-decoration: underline;
}